body {
    background-color: white;
    /* background-color: #c5d5cb; */
}

.Hide {
    display: none;
}

.Player {
    width: 30em;
    height: 12em;
    background-color: #e0e3cf;
    border-radius: 10px;
}

h3 {
    margin-top: .6em;
    margin-bottom: .6em;
    margin-left: .8em;
}

#total {
    width: 8em;
    margin-left: 1em;
    margin-right: .6em;
}

.resize {
    width: 2em;
    height: 2em;
}

.score {
    font-size: 43px;
}

#content {
    display: flex;
    flex-direction: row;
}

#stats {
    width: 300px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#stats div {
    margin: 5px;
}

.vp {
    width: 100px;

}

.vp span {
    margin-left: .2em;
    margin-right: .2em;
    font-size: 30px;

}

.vp p {
    margin: 0;
    font-size: 20px;
}

.vp button {
    color: black;
    background-color: #e0e3cf;
    border: none;
}

.vp .minus{
    font-size: 40px;
}

.vp .plus {
    font-size: 35px;
    font-weight: bold;
} 



/* display: inline-block;
    border-radius: 5px;
    width: 25px;
    padding-left: 12.5px;
    background-color: white;
    color: #e0e3cf;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    font-weight: bold; */

form {
    display: flex;
    justify-content: center;
}

#formt {
    padding: 1em;
    background-color: #e0e3cf;
    border-radius: 10px;
}

#formt span {
    font-size: 12px;
}

#formt button {
    margin-top: 10px;
    border: 0;
    border-radius: 10px;
    width: 370px;

    padding: 10px;
    background-color: #17a6da;
    color: white;
}

#formt input[type=number] {
    border: 0;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 2px;
    width: 350px;
}

#formt .inLine {
    display: block;
}

#formy {
    background-color: #e0e3cf;
    padding: 10px;
    border-radius: 10px;
}

#formy input[type=text] {
    border: 0;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 2px;
    width: 350px;
}

#scoreboards {
    margin-top: 10px;
    border: 0;
    border-radius: 10px;
    width: 370px;

    padding: 10px;
    background-color: #17a6da;
    color: white;
}

#checks {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

#nameInputs {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.selected {
    transition: color 1s !important;
    transition: background-color 1s !important;
    background-color: #5cc0e4 !important;
    color: white;
}

.deselected {
    transition: color 1s !important;
    transition: background-color 1s !important;
    background-color: white !important;
    color: black;
}

#checks button {
    
    margin-top: 10px;
    border: 0;
    border-radius: 10px;
    width: 180px;
    padding: 5px;
    padding-left: 10px;
    margin: 5px;
    margin-left: 0px;
    background-color: white;
}


